<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/squads">Marvel Squads</a>
        <a href="/squads/new" <%- title === 'Add Squad' ? 'class="active"' : '' %>>ADD SQUAD</a>
        <a href="/squads" <%- title === 'All Squads' ? 'class="active"' : '' %>>ALL SQUADS</a>
        <a href="/characters/new" <%- title === 'Add Characters' ? 'class="active"' : '' %>>ADD CHARACTERS</a>
    </nav>
  </nav>
  <main>
    <h1><%= title %></h1>


