<%- include('../partials/header') %>
<form action="/squads/<%= squad._id%>?_method=PUT" method="POST">
    <label for="squad">Edit Name:
        <input type="text" name="name">
    </label>
    <label for="characters">Edit Characters:
        <select name="character">
            <option <%= squad.character === "Spiderman" ? "selected":"" %>>Spiderman</option>
            <option <%= squad.character === "Iron Man" ? "selected":"" %>>Iron Man</option>
            <option <%= squad.character === "Hulk" ? "selected":"" %>>Hulk</option>
            <option <%= squad.character === "Captain America" ? "selected":"" %>>Captain America</option>
            <option <%= squad.character === "Thor" ? "selected":"" %>>Thor</option>
        </select>
    </label>    
    <button class="submit-button" type="submit">Accept Changes</button>
</form>
<%- include('../partials/footer') %>