<%- include('../partials/header') %>
<form action="/squads/<%= squad._id%>?_method=PUT" method="POST">
    <label for="squad">Edit Name:
        <select name="airline">
            <option <%= squad.name  === "North" ? "selected":"" %> value="North">North</option>
            <option <%= squad.name === "East" ? "selected":"" %> value="East">East</option>
            <option <%= squad.name  === "South" ? "selected":"" %> value="South">South</option>
            <option <%= squad.name === "West" ? "selected":"" %> value="West">West</option>
        </select>
    </label>
    <label for="airport">Edit Characters:
        <select name="character">
            <option <%= flight.airport === "Spiderman" ? "selected":"" %>>Spiderman</option>
            <option <%= flight.airport === "Iron Man" ? "selected":"" %>>Iron Man</option>
            <option <%= flight.airport === "Hulk" ? "selected":"" %>>Hulk</option>
            <option <%= flight.airport === "Captain America" ? "selected":"" %>>Captain America</option>
            <option <%= flight.airport === "Thor" ? "selected":"" %>>Thor</option>
        </select>
    </label>
    <label for="flightNo">Edit Flight Number:
        <input type="number" name="flightNo" value="<%= flight.flightNo %>">
    </label>
    <label for="date">Edit Date:
        <input type="datetime-local" name="departs" value="<%= flightDeparts %>">
    </label>
    <button class="submit-button" type="submit">Accept Changes</button>
</form>
<%- include('../partials/footer') %>