<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Squad</th>
      <th>Airport</th>
      <th>Departure Date</th>
      <th>View Details</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% squads.forEach(function(s) { %>
      <tr>
        <td><%= s.airline %></td>
        <td><%= s.airport %></td>
        <td><%= s.departs %></td>
        <td><a href="/squads/<%=squad._id%>">Details</a>&nbsp;|&nbsp;<a href="/squads/<%=squad._id%>/edit">Edit</a></td>
        <td>
          <form action="/squads/<%=squad._id%>?_method=DELETE" method="POST">
            <button class="red-button" type="submit">X</button>
          </form>
      </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>