<%- include('../partials/header') %>


<% if (squad.characters.length) { %>
  <table>
    <thead>
      <tr>
        <th>Characters</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% squad.characters.forEach(function(sc) { %>
        <% total += sc.name %>
        <tr>
          <td><%= sc.name %></td>
          <td>
            <% if (squad.googleId.equals(user._id)) { %>
            <form action="/characters/<%=sc._id%>?_method=DELETE" method="POST">
              <button class="red-button" type="submit">X</button>
            </form>
            <% } %>
        </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Characters Yet</h5>
<% } %>


<form id="add-character-form" method="POST" action="/squads/<%= squad._id%>/characters">
  <label>Character:</label>
  <select name="character">
    <% characters.forEach(function(c) { %> 
    <option value="<%=c._id %>"><%= c.name %></option>
    <% }) %>
  </select>
  <input type="submit" value="Select Character">
</form>

<%- include('../partials/footer') %>